# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Mac system files
.DS_Store

# VS Code settings
.vscode/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build files
dist/
build/
*.egg-info/

# Temporary files
*.tmp
*.swp