<!DOCTYPE html>
<html>
    <head>
        <title>jobFriendly</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Welcome to jobFriendly</h1>
        <form method="POST" enctype="multipart/form-data">
                <label>Upload Resume (ONLY PDF FOR NOW): </label><br>
                <input type="file" name="resume" required><br><br>
                <textarea name="job_desc" rows="10" cols="50" placeholder="Paste Job Description" required></textarea><br>

                <button type="submit">Analyze</button>
        </form>

        {% if score is not none %}
        <div class="card">
            <h2>Match Score: {{score}}%</h2>

            <div class="bar">
                <div class="fill" style="width: {{score}}%;"></div>
            </div>
            <p>Semantic Score: {{ (sem_score*100) | round(2) }}%</p>
            <p>Keyword Score: {{ (key_score * 100) | round(2) }}%</p>
        </div>
        <div class="card">
            <h3 class="green"> Matched Skills: </h3>
            {% for category, skills in matched_skills.items() %}
            <h4> {{category }}</h4>
            <ul>
                {%for skill in skills %}
                <li>{{skill}}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        <div class="card">
            <h3 class="red"> Missing Skills: </h3>
            {% for category, skills in missing_skills.items() %}
            <h4> {{category}}</h4>
            <ul>
                {% for skill in skills %}
                <li>{{skill}}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        <div class="card">
            <h3 class="yellow"> Suggestions </h3>
            <pre>{{suggestions}}</pre>>
            
            <ul>
                <li>{{s}}</li>
            </ul>

        </div> 
    
    {% endif %}
    </body>
</html>